DISCORD_TOKEN=YOUR_DISCORD_TOKEN
PREFIX=+
EMBED_COLOR=0xFFFFFF
OWNER=YOUR_USER_ID
FONTCONFIG_PATH='./assets/fonts'
HTTP_KEEPALIVE=3000
WEBHOOK_ID=
WEBHOOK_TOKEN=
WEEBSH_AUTHORIZATION=
COMMAND_SAVE_TIME=15000

DEAD_EMOTE=
LOADING_EMOTE=
EMOTE_VERIFIED=
EMOTE_DANCE=
EMOTE_PLUS=
EMOTE_MINUS=
EMOTE_NEUTRAL=
